@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/public/wallpaper.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.data{
  min-height: 120px;
  max-height: 200px;
  overflow: auto;
  padding: 1rem;
}

.TodoWrapper {
  background: transparent;
  margin-top: 0rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #79ff58;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #fff;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}


/* Estilos para el scrollbar */
/* Ancho y color de la barra */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

/* Estilos del track del scrollbar */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Estilos del thumb del scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #8758FF;
  border-radius: 5px;
}

/* Cambiar el color del thumb cuando se desplaza */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.flag {
  position: relative;
  background-color: #f44336; /* Color de fondo de la bandera */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  width: 200px; /* Ancho de la bandera */
}

.flag::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent #f44336 transparent; /* Color del borde */
}
